@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  background: #334;
}

button, p {
  font-family: "Open Sans"
}

.boxed {
  max-width: 960px;
  margin: 0 auto;
}

:root {
  --text-color: #222;
}

.calculator {
  width: 300px;
  background: #445;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 0px rgba(17, 17, 34, .4);
}

#display {
  box-sizing: border-box;
  border: 2px solid #445;
  color: #ccd;
  font-weight: 700;
  width: 300px;
  margin: 0;
  padding: 12px 20px;
  font-size: 35px;
  text-align: right;
  background: #334;
  border-radius: 5px;
  font-family: monospace;
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #223;
  color: #aab;
  border: 2px solid #445;
  font-weight: 700;
  font-size: 30px;
  user-select: none;
  cursor: pointer;
  transition: background .1s;
  outline: none;
  p {
    margin: 0;
  }
  &:active {
    background: #334;
  }
  &.active {
    background: #334;
  }
}

.operations, .numbers, .clear {
  display: flex;
  flex-wrap: wrap;
}

.operations {
  margin-bottom: 10px;
  .button {
    height: 75px;
    width: calc(300px / 4)
  }
}


.clear {
  margin: 10px 0;
  button {
    width: 150px;
    height: 75px;
  }
}

.zero {
  width: 200px;
}

.equals {
  margin-top: 10px;
  width: 300px;
}

.credit {
  font-size: 16px;
  height: 30px;
  background: none;
  color: #112;
}
